<ion-header>
  <ion-navbar>
    <ion-title>Camera Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="takePhoto()">
    <ion-icon name="camera" class="m-r-10"></ion-icon>Take Photo</button>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="icodelete"  (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo"/>
        </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
